<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/<%=id%>?_method=PATCH" method="post">
        <div>
            <label for="name">NAME:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="price">PRICE:</label>
            <input type="number" name="price" id="price">
        </div>
        <div>
            <label for="SELLER">SELLER:</label>
            <input type="text" name="seller" id="seller">
        </div>
        <div>
            <label for="instock">INSTOCK:</label>
            <input type="text" name="instock" id="instock">
        </div>
        <div>
            <input type="submit" value="EDIT THE PRODUCT">
        </div>
    </form>
</body>
</html>